/* =Comments
----------------------------------------------- */
.comments-area {
  background: $white;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.22);
  padding: 20px;
  border-top: 6px solid $primary-def;
  margin: 0 0 30px 0;
}
.comment-list {
  list-style: none;
}
.comment-list > li {
  padding: 0;
  list-style: none;
  margin: 0 0 20px 0;
}
.comment-list .comment-body {
  border-bottom: 1px solid $grey4;
  border-radius: 0;
  padding: 15px;
  background: #f8f8f8;
}
.comment-list .children {
  padding: 0;
  margin: 0;
}
.comment-list .children li {
  margin: 10px 0 0 30px;
  list-style: none;
  padding: 0;
}
.comment-list .comment-author {
  float: left;
  margin: 0 10px 10px 0;
}
.comment-list .comment-author img {
  border-radius: 0;
  border: 2px solid #eeeeee;
}
.comment-list .comment-author .author {
  display: block;
  padding: 5px 0 0 0;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}
.comment-list .reply {
  float: right;
}
.comment-list .comment-meta {
  float: right;
  margin: 0 20px 0 0;
}
.comment-list .comment-footer {
  padding: 10px 0 5px;
}
.comment-list li.pingback .comment-author {
  margin: 0 0 10px 0;
  float: none;
  display: block;
}
.comment-list li.pingback .comment-author img {
  display: none;
}
.comment-list li.pingback .comment-author .author {
  text-align: left;
  padding: 0 0 5px 0;
}
.comment-list .bypostauthor .comment-body {
  border-top: 6px solid $primary-def;
}
#cancel-comment-reply-link {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .comment-list .comment-author {
    float: none;
    margin: 0 0 10px 0;
  }
  .comment-list .comment-author .author {
    text-align: left;
  }
  .comment-list .children li {
    margin: 10px 0 0 10px;
  }
}
#commentform label {
  margin: 0 0 5px 0;
}
#commentform textarea,
#commentform input[type='text'] {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#reply-title small {
  display: block;
}
