/* =HEADER
----------------------------------------------- */

#header {
    position: relative;
    z-index: 20;
    padding: 25px 0 0 0;
}

#header .logo {
    float: left;
    padding: 0 0 20px 0;
    max-width: 100%;
}

#header .logo .text-logo {
    font-size: 110px;
    line-height: 110px;
    margin: 0 0 -10px 0;
    text-transform: none;
    font-weight: normal;
    font-family: $font1;
    overflow: visible;
}

#header .logo .text-logo a {
    color: $white;
    text-decoration: none !important;
    display: inline-block;
    padding: 0 15px 0 0;
}

#header .logo .text-logo a:hover,
#header .logo .text-logo a:focus,
#header .logo .text-logo a:active {
    color: $white;
}

#header .logo .site-description {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-style: italic;
    color: #d7c1c6;
}


/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
    #header .logo .text-logo {
        font-size: 80px;
        line-height: 80px;
    }
    .logo img {
        max-width: 100%;
    }
}


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    #header .logo .text-logo {
        font-size: 70px;
        line-height: 70px;
    }
    .logo img {
        max-width: 100%;
    }
}


/* Landscape phones and down */

@media (max-width: 480px) {
    #header {
        padding: 15px 0 0 0;
    }
    #header .logo .text-logo {
        font-size: 60px;
        line-height: 60px;
    }
    #header .logo {
        float: none;
        text-align: center;
    }
    .logo img {
        max-width: 100%;
    }
}


/* = Slider
----------------------------------------------- */

#slider-wrapper .flexslider {
    border-top: 6px solid $primary-def;
    margin: 0 0 30px 0;
}


/* = Top search
----------------------------------------------- */

#top-search {
    float: right;
    padding: 0;
    position: relative;
    margin: 48px 0 12px 0;
}

#top-search .input-search {
    vertical-align: top;
    margin: 0;
    padding: 6px 35px 6px 15px;
    height: 33px;
    background: $white;
    border-radius: 16px;
    border: none;
    width: 311px;
}

#top-search #submit {
    vertical-align: top;
    position: absolute;
    right: 0;
    top: 0;
    background: url(images/top-search-submit.png) no-repeat 0 0;
    border: none;
    padding: 0;
    width: 35px;
    height: 33px;
    box-shadow: none;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    transition: all 200ms linear;
}

#top-search #submit:hover {
    background-position: 0 -33px;
}


/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
    #top-search {
        margin: 0 0 12px 0;
    }
    #top-search .input-search {
        width: 251px;
    }
}


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    #top-search {
        margin: 0 0 12px 0;
    }
    #top-search .input-search {
        width: 100%;
    }
}


/* Landscape phones and down */

@media (max-width: 480px) {
    #top-search {
        margin: 0 0 12px 0;
        float: none;
    }
    #top-search .input-search {
        width: 100%;
        height: 33px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}