/* =Media
----------------------------------------------- */
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.wp-caption {
  margin-bottom: 10px;
  max-width: 100%;
}
.wp-caption.alignnone {
  overflow: hidden;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 1.2% auto 0;
  max-width: 100%;
}
.wp-caption-text {
  text-align: center;
  background: #F7F6F5;
  margin: 0 5px;
  padding: 10px;
  border: 1px solid $grey4;
}
.wp-caption.alignnone .wp-caption-text {
  margin: 0;
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .wp-caption {
    display: table;
  }
  .wp-caption.alignleft {
    float: none;
    margin: 0 auto 10px;
  }
  .wp-caption.alignright {
    float: none;
    margin: 0 auto 10px;
  }
}
.entry-meta {
  padding: 0 0 10px 0;
}
.entry-meta + .pager {
  margin: 0;
}
