.hentry {
  padding: 6px 0 0 0;
  margin: 0 0 30px 0;
  background: $white;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.22);
  position: relative;
  min-height: 150px;
}
.page_wrap {
  padding: 20px;
  margin: 0 0 30px 0;
  background: $white;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.22);
  position: relative;
}
  .page_wrap:after {
    clear: both;
    content: "";
    width: 100%;
    display: block;
    height: 0;
  }
.page-title {
  padding: 20px;
  background: $white;
  margin: 0 0 30px 0;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.22);
}
.taxonomy-description {
  padding: 20px 20px 15px 20px;
  background: $white;
  margin: 0 0 30px 0;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.22);
}
.taxonomy-description p {
  margin: 0;
  padding: 0 0 5px 0;
}
#primary.left, #secondary.right {
  float: right;
  padding-right: 0;
}
#primary.right, #secondary.left {
  float: left;
  padding-left: 0;
}

#primary .page-header {
  border: none;
  padding: 0;
  margin: 0;
}
.post-title a:hover,
.post-title a:active,
.post-title a:focus {
  text-decoration: none;
}
/* Post header */
.post-header {
  padding: 5px 15px 0 15px;
}
.single .post-header {
  padding: 10px 0 0 0;
}
/* Large Desktop */
@media (min-width: 1200px) {
  .post-header {
    padding: 0 35px 0 35px;
  }
  .row {
    display: inline;
  }
}
.post-title {
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 46px;
  overflow: hidden;
}
.single .post-title {
  padding: 0 0 10px 0;
}
.post-title a {
  color: #434242;
}
.post-title a:hover {
  color: $primary-def;
}
/* Sticky Post */
.single .sticky.post_content {
  padding-top: 40px;
}
.single .sticky.video_wrap {
  padding-top: 40px;
}
#content .featured_badge {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  line-height: 35px;
  padding: 0 35px;
  background: $primary-def;
  color: $white;
  font-size: 22px;
  font-family: $font2;
  font-weight: bold;
}
#content .featured_badge i {
  font-size: 22px;
  margin: 0 10px 0 0;
  font-weight: normal;
}
.featured_badge + .post-title {
  padding-top: 35px;
}
.featured-thumbnail + .post-header .featured_badge + .post-title {
  padding-top: 10px;
}
/* Medium Desktop */
@media (min-width: 1200px) and (max-width: 1350px) {
  .row {
    display: inline;
  }
  .featured_badge + .post-title {
    padding-top: 0;
  }
  .single .sticky.post_content, .single .sticky.video_wrap {
    padding-top: 5px;
  }
  #content .featured_badge {
    font-size: 30px;
    line-height: 58px;
    width: 69px;
    height: 60px;
    text-align: center;
    background: $primary-def;
    border-radius: 30px 0 0 30px;
    font-weight: bold;
    color: $white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0;
    vertical-align: top;
    margin: 0;
    position: absolute;
    right: 0;
    left: auto;
    top: 6px;
    padding: 0;
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
  }
  #content .featured_badge i {
    font-size: 30px;
    margin: 0;
    font-weight: normal;
  }
  #content .featured_badge strong {
    display: none;
  }
}
@media (min-width: 1100px) and (max-width: 1200px) {
  .row {
    display: inline;
  }
}
/* Small Desktop */
@media (min-width: 980px) and (max-width: 1100px) {
  .row {
    display: inline;
  }
  .featured_badge + .post-title {
    padding-top: 0;
  }
  .single .sticky.post_content, .single .sticky.video_wrap {
    padding-top: 5px;
  }
  #content .featured_badge {
    font-size: 30px;
    line-height: 58px;
    width: 69px;
    height: 60px;
    text-align: center;
    background: $primary-def;
    border-radius: 30px 0 0 30px;
    font-weight: bold;
    color: $white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0;
    vertical-align: top;
    margin: 0;
    position: absolute;
    right: 0;
    left: auto;
    top: 6px;
    padding: 0;
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
  }
  #content .featured_badge i {
    font-size: 30px;
    margin: 0;
    font-weight: normal;
  }
  #content .featured_badge strong {
    display: none;
  }
}
/* All Devices */
@media (max-width: 979px) {
  .row {
    display: inline;
    width: 100%;
  }
  .featured_badge + .post-title {
    padding-top: 0;
  }
  .single .sticky.post_content, .single .sticky.video_wrap {
    padding-top: 5px;
  }
  #content .featured_badge {
    font-size: 30px;
    line-height: 58px;
    width: 69px;
    height: 60px;
    text-align: center;
    background: $primary-def;
    border-radius: 30px 0 0 30px;
    font-weight: bold;
    color: $white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0;
    vertical-align: top;
    margin: 0;
    position: absolute;
    right: 0;
    left: auto;
    top: 6px;
    padding: 0;
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
  }
  #content .featured_badge i {
    font-size: 30px;
    margin: 0;
    font-weight: normal;
  }
  #content .featured_badge strong {
    display: none;
  }
}

@media (max-width: 768px) {
  #primary.left {
    padding-left: 0;
  }
  #primary.right {
    padding-right: 0;
  }
  #secondary.left, #secondary.right {
    padding-left: 0;
    padding-right: 0;
  }
}

.col-md-12 {
  padding-right: 0;
  padding-left: 0;
}

/* Post content */
.post_content {
  padding: 10px 15px 10px 15px;
  min-height: 50px;
}
.post_content p {
  word-break:normal;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  text-align: justify;
}
.post_content.pholio {
  min-height: 0;
}
.post_content:after {
  clear: both;
  content: "";
  width: 100%;
  display: block;
}
.post_content .post_permalink {
  float: right;
  margin: 0 10px 0 0;
}
.post_permalink a {
  font-size: 12px;
  font-style: normal;
  text-decoration: none !important;
}
 .post_permalink a:active,
  .post_permalink a:focus {
    text-decoration: none;
  }
.post_permalink a i {
  font-size: 14px;
  margin: 0 3px 0 0;
  text-decoration: none !important;
}
/* Large Desktop */
@media (min-width: 1200px) {
  .post_content {
    padding: 15px 35px 20px 35px;
  }
}
.quote + .post_permalink {
  margin: -20px 10px 0 0;
}
.page_wrap .post_content {
  padding: 10px 0;
}
.format-image h3.post-title {
  padding-bottom: 15px;
}
.format-image .post_content {
  min-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.single .post_content {
  padding: 0 0 15px 0;
  min-height: 0;
}
.single .hentry {
  padding: 6px 20px;
}
.excerpt {
  padding: 0 0 15px 0;
}
.more_link {
  font-size: 14px;
  text-decoration: underline;
  display: inline-block;
  padding: 0;
  font-style: italic;
}
.more_link:after {
  font-family: $font3;
  font-weight: 900; /* Why do I must put this sh*t */
  content: "\f105";
  font-style: normal;
  font-size: 9px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 5px;
}
.more_link:hover {
  text-decoration: none;
}
.byline {
  display: none;
}
.single .byline,
.group-blog .byline {
  display: inline;
}
.entry-content,
.entry-summary {
  margin: 10px 0 0 0;
}
.page-links {
  clear: both;
  margin: 0;
  padding: 15px 0 5px 0;
}
.page-links a {
  display: inline-block;
  font-family: $font2;
  line-height: 20px;
  font-size: 22px;
  color: #333333;
  margin: 0 2px;
  font-weight: bold;
  min-width: 10px;
  text-align: center;
}
.page-links a:hover {
  text-decoration: none;
  color: $primary-def;
}
.page-links > span {
  display: inline-block;
  text-decoration: none;
  color: $primary-def;
  font-family: $font2;
  line-height: 20px;
  font-size: 22px;
  font-weight: bold;
  margin: 0 2px;
}
/* featured thumbnail */
.featured-thumbnail {
  margin: 0;
  max-height: 238px;
  overflow: hidden;
}
.featured-thumbnail img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
.blog .featured-thumbnail {
  width: 100%;
   max-width: 100%;
  overflow: hidden;
}
/* Large Desktop */
@media (min-width: 1200px) {
  .featured-thumbnail {
    max-height: 295px;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .featured-thumbnail {
    max-height: 182px;
  }
}
.single .featured-thumbnail {
  margin: 0 -20px 10px -20px;
}
.fullwidth-page .featured-thumbnail {
  margin: -20px -20px 10px -20px;
}
.featured-thumbnail.large {
  float: none;
  margin: 0 0 10px 0;
}

.post-footer {
  margin: 0 -20px;
  padding: 10px 20px;
  border-top: 1px solid $grey4;
}
.post-footer i {
  font-size: 14px;
  color: $primary-def;
}
/* post tags */
.post-footer a {
  display: inline-block;
  margin: 0 2px 2px 0;
  font-size: 11px;
  line-height: 18px;
  height: 18px;
  padding: 0 10px;
  border-radius: 10px;
  background: $primary-def;
  border: 0;
  color: $white;
}
.post-footer a:hover {
  color: $white;
  background: $secondary-def;
  text-decoration: none;
}
.post-footer a:active {
  color: $white;
  background: #444;
  border: 1px solid #111111;
  text-decoration: none;
}
.post-footer a:focus {
  color: $white;
  background: #444;
  border: 1px solid #111111;
  text-decoration: none;
}
.tagcloud a {
  display: inline-block;
  margin: 0 2px 2px 0;
  font-size: 11px !important;
  line-height: 18px;
  height: 18px;
  padding: 0 10px;
  border-radius: 10px;
  background: $primary-def;
  border: 1px solid #f40000;
  color: $white;
}
.tagcloud a:hover {
  color: $white;
  background: #444;
  border: 1px solid #111111;
  text-decoration: none;
}
/* post foramt label */
.post_type_label {
  position: absolute;
  top: 35px;
  left: -69px;
  width: 69px;
  height: 60px;
  background-color: $primary-def;
  background: url(images/post-format-icons.png) no-repeat 0 -240px;
  border-radius: 30px 0 0 30px;
}
.post_type_label.gallery {
  background-position: 0 0;
}
.post_type_label.quote {
  background-position: 0 -60px;
}
.post_type_label.image {
  background-position: 0 -120px;
}
.post_type_label.video {
  background-position: 0 -180px;
}
.post_type_label.audio {
  background-position: 0 -300px;
}
.post_type_label.aside {
  background-position: 0 -360px;
}
.post_type_label.link {
  background-position: 0 -420px;
}
.post_type_label.chat {
  background-position: 0 -480px;
}
.post_type_label.status {
  background-position: 0 -540px;
}
.left .post_type_label {
  left: 100%;
  border-radius: 0 30px 30px 0;
}
/* post meta */
.single .post_meta {
  margin: 0 -20px;
  padding: 10px 20px;
}
.post_meta {
  margin: 0;
  border-top: 1px solid $grey4;
  padding: 10px 15px;
}
.post_meta i {
  font-size: 14px;
  color: $primary-def;
}
.post_meta span {
  display: inline-block;
  margin: 0 10px 0 0;
}
.post_meta span i {
  margin-right: 5px !important;
}
.post_meta span.post_permalink a:hover {
  text-decoration: none;
}
.post_meta span.post_permalink i:before {
  font-size: 14px;
}
.post_meta .post_category {
  float: right;
  word-spacing: 7px;
}
.post_meta .post_category a {
  word-spacing: 0;
}
.post_meta .post_category a:before {
  content: "#";
}
.post_meta .post_comment {
  font-style: italic;
}
.post_meta .post_comment a {
  color: #2c2c2c;
}
/* Large Desktop */
@media (min-width: 1200px) {
  .post_meta {
    padding: 10px 35px;
  }
}
.post_date {
  position: absolute;
  max-width: 0;
  top: 100px;
  right: 101%;
  text-align: right;
}
.post_date time {
  color: $yellowish-white;
  font-family: $font2;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  list-style: 21px;
  display: block;
  text-align: right;
  float: right;
}
.left .post_date {
  left: 101%;
  right: auto;
  text-align: left;
}
.left .post_date time {
  text-align: left;
  float: none;
}
/* Medium Desktop */
@media (min-width: 1200px) and (max-width: 1350px) {
  .hentry.post__holder {
    padding-top: 55px;
  }
  #primary .post_type_label {
    top: 6px;
    left: 0;
    border-radius: 0 30px 30px 0;
    background-position: -10px -240px;
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
  }
  #primary .post_type_label.gallery {
    background-position: -10px 0;
  }
  #primary .post_type_label.quote {
    background-position: -10px -60px;
  }
  #primary .post_type_label.image {
    background-position: -10px -120px;
  }
  #primary .post_type_label.video {
    background-position: -10px -180px;
  }
  #primary .post_type_label.audio {
    background-position: -10px -300px;
  }
  #primary .post_type_label.aside {
    background-position: -10px -360px;
  }
  #primary .post_type_label.link {
    background-position: -10px -420px;
  }
  #primary .post_type_label.chat {
    background-position: -10px -480px;
  }
  #primary .post_type_label.status {
    background-position: -10px -540px;
  }
  #primary .post_date {
    max-width: none;
    top: 18px;
    left: 65px;
    right: auto;
  }
  #primary .post_date time {
    color: $secondary-def;
    text-align: left;
    float: none;
  }
}
@media (max-width: 480px) {
  .post_meta span {
    display: block;
  }
  .post_meta span span {
    display: inline-block;
  }
  .post_meta span.post_permalink {
    float: none;
  }
  .post_meta span.post_category {
    float: none;
  }
}
/* Small Desktop */
@media (min-width: 980px) and (max-width: 1100px) {
  .hentry.post__holder {
    padding-top: 55px;
  }
  #primary .post_type_label {
    top: 6px;
    left: 0;
    border-radius: 0 30px 30px 0;
    background-position: -10px -240px;
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
  }
  #primary .post_type_label.gallery {
    background-position: -10px 0;
  }
  #primary .post_type_label.quote {
    background-position: -10px -60px;
  }
  #primary .post_type_label.image {
    background-position: -10px -120px;
  }
  #primary .post_type_label.video {
    background-position: -10px -180px;
  }
  #primary .post_type_label.audio {
    background-position: -10px -300px;
  }
  #primary .post_type_label.aside {
    background-position: -10px -360px;
  }
  #primary .post_type_label.link {
    background-position: -10px -420px;
  }
  #primary .post_type_label.chat {
    background-position: -10px -480px;
  }
  #primary .post_type_label.status {
    background-position: -10px -540px;
  }
  #primary .post_date {
    max-width: none;
    top: 18px;
    left: 65px;
    right: auto;
  }
  #primary .post_date time {
    color: $secondary-def;
    text-align: left;
    float: none;
  }
}
/* All Devices */
@media (max-width: 979px) {
  .hentry.post__holder {
    padding-top: 55px;
  }
  #primary .post_type_label {
    top: 6px;
    left: 0;
    border-radius: 0 30px 30px 0;
    background-position: -10px -240px;
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -o-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
  }
  #primary .post_type_label.gallery {
    background-position: -10px 0;
  }
  #primary .post_type_label.quote {
    background-position: -10px -60px;
  }
  #primary .post_type_label.image {
    background-position: -10px -120px;
  }
  #primary .post_type_label.video {
    background-position: -10px -180px;
  }
  #primary .post_type_label.audio {
    background-position: -10px -300px;
  }
  #primary .post_type_label.aside {
    background-position: -10px -360px;
  }
  #primary .post_type_label.link {
    background-position: -10px -420px;
  }
  #primary .post_type_label.chat {
    background-position: -10px -480px;
  }
  #primary .post_type_label.status {
    background-position: -10px -540px;
  }
  #primary .post_date {
    max-width: none;
    top: 18px;
    left: 65px;
    right: auto;
  }
  #primary .post_date time {
    color: $secondary-def;
    text-align: left;
    float: none;
  }
}
@media (max-width: 480px) {
  .post_meta span {
    display: block;
  }
  .post_meta span span {
    display: inline-block;
  }
  .post_meta span.post_permalink {
    float: none;
  }
}
/* related-posts */
.related-posts {
  padding: 20px;
  background: $white;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.22);
  margin: 0 0 20px 0;
}
.related-posts_list {
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}
.related-posts_item {
  font-size: 12px;
  line-height: 20px;
  width: 22.5%;
  margin: 0 0 0 2.5%;
  list-style: none;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}
.related-posts_item .featured-thumbnail {
  float: none;
  margin: 0 0 10px 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: $white;
  text-align: center;
}
.related-posts_item .featured-thumbnail a {
  display: block;
  //vertical-align: middle;
  font-weight: bold;
}
.related-posts_item .featured-thumbnail a:hover {
  text-decoration: none;
}
.related-posts_item .featured-thumbnail img {
  width: 100%;
  height: auto;
}
.related-posts_item:first-child {
  margin: 0;
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .related-posts_item {
    display: block;
    width: 100%;
    margin: 0 0 6px 0 !important;
  }
  .related-posts_item .featured-thumbnail {
    display: none !important;
  }
}
.entry-attachment .attachment {
  padding: 0 0 15px 0;
}

.attachment img {
  width: 100%;
  height: auto;
}

/* Author bio */
.author-info {
  padding: 20px;
  background: $white;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.22);
  margin: 0 0 30px 0;
  border-top: 6px solid $primary-def;
}
.author-info.author-page .author-description {
  padding: 10px 0 0 0;
}
.author-info .thumbnail {
  float: left;
  margin: 10px 20px 20px 0;
}
.author-page .thumbnail {
  width: 120px;
}
.author-info:after {
  width: 100%;
  height: 0;
  clear: both;
  display: block;
  content: "";
}
.author-description {
  overflow: hidden;
}
.author-description h2 {
  margin: 0 0 5px 0;
}
.author-description h2 a:hover {
  text-decoration: none;
}
.author-description h2 a:focus {
  text-decoration: none;
}
.author-description h2 a:active {
  text-decoration: none;
}
/* Page Nav */
.no-results + .page_nav_wrap {
  display: none;
}
.page_nav_wrap {
  background: $white;
  padding: 17px 20px;
  margin: 0 0 30px 0;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.22);
}
.page_nav_wrap .post_nav ul {
  padding: 0;
  margin: 0 5px;
  display: inline-block;
  vertical-align: top;
}
.page_nav_wrap .post_nav ul li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  margin: 0 4px;
  background: none;
  font-size: 20px;
  list-style: 20px;
}
.page_nav_wrap .post_nav ul li a,
.page_nav_wrap .post_nav ul li span {
  font-family: $font2;
  font-weight: bold;
  color: #434242;
  text-decoration: none;
}
.page_nav_wrap .post_nav ul li a:hover {
  color: $primary-def;
  text-decoration: none;
}
.page_nav_wrap .post_nav ul li .current {
  color: $primary-def;
  text-decoration: none;
  cursor: default;
}

.page_nav_wrap .post_nav span a {
  text-decoration: underline;
}

.single-post-nav {
  background: $white;
  padding: 0;
  margin: 0 0 30px 0;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.22);
  display: table;
  width: 100%;
}
.single-post-nav:after {
  content: "";
  width: 100%;
  display: block;
  clear: both;
  height: 0;
  overflow: hidden;
}
.single-post-nav a {
  display: table-cell;
  text-decoration: none;
  width: 50%;
  padding: 17px 20px;
  background: $white;
  vertical-align: middle;
  word-break:break-all;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.single-post-nav a + a {
  text-align: right;
}
.single-post-nav a:hover {
  text-decoration: none;
  background: $grey4;
}
