/* =Portfolio PAge
----------------------------------------------- */

.portf_item .post_content {
padding:10px 20px 20px;
}
.portf_item.col-md-6 .featured-thumbnail {
  max-height: 210px;
}
.portf_item.col-md-4 .featured-thumbnail {
  max-height: 142px;
}
.portf_item.col-md-3 .featured-thumbnail {
  max-height: 100px;
}
.portf_item h5 {
  margin: 0 0 10px 0;
  line-height:26px;
  font-size: 22px;
  letter-spacing: 0;
}
.portf_item h5 a {
  text-decoration: none;
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .portf_item .featured-thumbnail {
    max-height: 267px;
  }
}
// Stupid bootstrap
.row.portf {
  display: flex !important;
}
