/* = Post Formats
----------------------------------------------- */

/* = Image
----------------------------------------------- */
.post_format_image {
  text-align: center;
  position: relative;
}
.post_format_image a:hover {
  text-decoration: none;
}
.attachment-770x295 {
  width: 100%;
  height: auto;
}
.format-image .lightbox_img.single {
  max-height: 238px;
  overflow: hidden;
  margin: 0;
}
/* Large Desktop */
@media (min-width: 1200px) {
  .format-image .lightbox_img.single {
    max-height: 295px;
  }
}
.format_image_wrap {
  margin: 0 -20px;
  text-align: center;
}
/* = Zoom Icon
----------------------------------------------- */
a.lightbox_img {
  -webkit-transition:none;
  -moz-transition:none;
  -o-transition:none;
  transition:none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
a .hover_overlay {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
a:hover .hover_overlay {
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
a.lightbox_img img {
}
a .hover_overlay .fa-search-plus {
  color: #fff;
  font-size: 800px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -300px;
  display: inline-block;
  opacity: 0;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  text-shadow: 0 0 0 #fff;
  width: auto !important;

}
a:hover .hover_overlay .fa-search-plus {
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}
/* = Gallery
----------------------------------------------- */
.gallery:after {
  clear: both;
}
.gallery-item {
  display: block;
  float: left;
  vertical-align: top;
  font-size: 12px;
  line-height: 20px;
  margin: 0 4px 4px 0;
  overflow: hidden;
  position: relative;
}
.gallery-item img {
  height: auto;
  max-width: 100%;
}
.single .gallery-columns-1.gallery-size-medium,
.single .gallery-columns-1.gallery-size-thumbnail,
.single .gallery-columns-2.gallery-size-thumbnail,
.single .gallery-columns-3.gallery-size-thumbnail {
  display: table;
  margin: 0 auto 20px;
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.gallery-columns-1 .gallery-item {
  max-width: 100%;
}
.gallery-columns-2 .gallery-item {
  max-width: 48%;
  max-width: -webkit-calc(46%);
  max-width: calc(46%);
  text-align: center;
}
.gallery-columns-3 .gallery-item {
  max-width: 31%;
  max-width: -webkit-calc(29.299999999999997%);
  max-width: calc(29.299999999999997%);
  text-align: center;
}
.gallery-columns-4 .gallery-item {
  max-width: 23%;
  max-width: -webkit-calc(21%);
  max-width: calc(21%);
}
.gallery-columns-5 .gallery-item {
  max-width: 19%;
  max-width: -webkit-calc(16%);
  max-width: calc(16%);
}
.gallery-columns-6 .gallery-item {
  max-width: 15%;
  max-width: -webkit-calc(12.7%);
  max-width: calc(12.7%);
}
.gallery-columns-7 .gallery-item {
  max-width: 13%;
  max-width: -webkit-calc(10.28%);
  max-width: calc(10.28%);
}
.gallery-columns-8 .gallery-item {
  max-width: 11%;
  max-width: -webkit-calc(8.5%);
  max-width: calc(8.5%);
}
.gallery-columns-9 .gallery-item {
  max-width: 9%;
  max-width: -webkit-calc(7.1%);
  max-width: calc(7.1%);
}
.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-right: 0;
}
.gallery-caption {
  background: url(images/opacity-bg.png);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: $white;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  max-height: 50%;
  opacity: 0;
  padding: 8px 5px;
  position: absolute;
  bottom: -100px;
  left: 0;
  text-align: left;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
  width: 100%;
  border: none;
}
.gallery-caption:before {
  box-shadow: 0 -10px 15px #000000 inset;
  content: "";
  height: 100%;
  min-height: 49px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.gallery-item:hover .gallery-caption {
  opacity: 1;
  bottom: 0;
}
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption,
.gallery-columns-10 .gallery-caption {
  display: none;
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .gallery-columns-1.gallery-size-thumbnail .gallery-caption,
  .gallery-columns-2 .gallery-caption,
  .gallery-columns-3 .gallery-caption,
  .gallery-columns-4 .gallery-caption,
  .gallery-columns-5 .gallery-caption,
  .gallery-columns-6 .gallery-caption,
  .gallery-columns-7 .gallery-caption,
  .gallery-columns-8 .gallery-caption,
  .gallery-columns-9 .gallery-caption,
  .gallery-columns-10 .gallery-caption {
    display: none;
  }
}
/* = Gallery Preview
----------------------------------------------- */
.lightbox_img {
  display: block;
}
.lightbox_img.single {
  position: relative;
}
/* = Chat
----------------------------------------------- */
.chat {
  margin: 0 0 10px 0;
}
.chat .chat-author {
  display: block;
  font-weight: bold;
  font-style: italic;
}
.chat .chat-author cite {
  font-style: italic;
}
.chat .chat-text {
  padding: 0 0 15px 0;
  margin: 0;
}
/* = Qoute
----------------------------------------------- */
.format-quote blockquote p {
  padding: 5px 0;
  font-size: 30px;
  line-height: 32px;
  font-family: $font2;
}
.format-quote blockquote p cite {
  display: block;
  font-style: italic;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}
figure.quote {
  margin: 0;
}
figcaption.quote-caption {
  display: block;
  margin: -10px 0 0 0;
  color: $grey3;
}
figcaption.quote-caption a {
  color: $grey3;
}
/* = Video
----------------------------------------------- */
.video_wrap {
  margin: 0 0 10px 0;
}
.single .video_wrap {
  margin: 0 -20px 10px;
}
