/* =Default Table Styling
----------------------------------------------- */
table {
  width: 100%;
}
table td {
  padding: 5px;
  border: 1px solid #eeeeee;
}
table td.label {
  display: table-cell;
  padding: 5px;
  border-radius: 0;
  background: $lesswhite;
  line-height: 18px;
}
table th {
  padding: 5px;
  border: 1px solid #eeeeee;
  background: #fbfbfb;
}
